{{! Account page - owned by Alex }}

<div class="account"
    style="display: flex; flex-direction: column; align-items: center; text-align: center; margin: 25px auto; max-width: 800px; font-family: sans-serif;">

    <div class="account-header">
        <img src="../../resources/img/{{user.profile_pic}}" class="profile-pic"
            style="width: 170px; height: 170px; object-fit: cover; border-radius: 50%; border: 3px solid black; margin-bottom: 15px;">
        <h1>{{user.username}}</h1>
        <p>{{user.email}}</p>
    </div>

    <div style="margin-top: 20px; padding: 15px; border-radius: 10px; ">
        <p style="margin-bottom: 10px; font-weight: bold; font-size: 0.9rem;">Change Profile Color</p>
        <form action="/update_profile_pic" method="POST">
            <div style="display: flex; gap: 10px; justify-content: center; margin-bottom: 15px;">
                {{!-- list file options --}}
                {{!-- default --}}
                <label>
                    <input type="radio" name="profile_choice" value="default_profile.jpg" style="display:none" required>
                    <img src="../../resources/img/default_profile.jpg" class="choice-img" onclick="highlight(this)" style="width: 120px; height: 120px; object-fit: cover; border-radius: 50%; border: 3px solid black; margin-bottom: 15px;">
                </label>
                {{!-- blue --}}
                <label>
                    <input type="radio" name="profile_choice" value="blue_profile.jpg" style="display:none">
                    <img src="../../resources/img/blue_profile.jpg" class="choice-img" onclick="highlight(this)" style="width: 120px; height: 120px; object-fit: cover; border-radius: 50%; border: 3px solid black; margin-bottom: 15px;">
                </label>
                {{!-- green --}}
                <label>
                    <input type="radio" name="profile_choice" value="green_profile.jpg" style="display:none">
                    <img src="../../resources/img/green_profile.jpg" class="choice-img" onclick="highlight(this)" style="width: 120px; height: 120px; object-fit: cover; border-radius: 50%; border: 3px solid black; margin-bottom: 15px;">
                </label>
                {{!-- yellow --}}
                <label>
                    <input type="radio" name="profile_choice" value="yellow_profile.jpg" style="display:none">
                    <img src="../../resources/img/yellow_profile.jpg" class="choice-img" onclick="highlight(this)" style="width: 120px; height: 120px; object-fit: cover; border-radius: 50%; border: 3px solid black; margin-bottom: 15px;">
                </label>
                {{!-- red --}}
                <label>
                    <input type="radio" name="profile_choice" value="red_profile.jpg" style="display:none">
                    <img src="../../resources/img/red_profile.jpg" class="choice-img" onclick="highlight(this)" style="width: 120px; height: 120px; object-fit: cover; border-radius: 50%; border: 3px solid black; margin-bottom: 15px;">
                </label>

            </div>
            <button type="submit"
                style="cursor: pointer; padding: 5px 15px; border-radius: 5px; border: 1px solid #333;">Save
                Color</button>
        </form>
    </div>


    <div class="info" style="display: flex; gap: 40px; justify-content: center; margin: 20px 0; padding-bottom: 20px; ">
        <div>
            <h3>{{spots.length}}</h3>
            <p>Spots</p>
        </div>
        <div>
            <h3>{{comments.length}}</h3>
            <p>Comments</p>
        </div>
    </div>
</div>

<div class="recent-activity"
    style="display: flex; flex-direction: column; align-items: center; width: 100%; max-width: 800px; margin: 0 auto;">
    <h2>-- {{user.username}}'s Recent Activity --</h2>

    {{#each spots}}
    <div class="activity" style="width: 100%; padding: 10px; 1px solid #eee; text-align: center;">
        <p> Created spot: <b>{{this.name}}</b></p>
        <small> {{this.created_at}}</small>
    </div>
    {{/each}}

    {{#each comments}}
    <div class="activity" style="width: 100%; padding: 10px;  1px solid #eee; text-align: center;">
        <p> Commented: <b>{{this.content}} on spot {{this.spot.name}}</b></p>
        <small> {{this.created_at}}</small>
    </div>
    {{/each}}
</div>